<% layout('/layouts/Boilerplate') %> 
<div class="row">
  <div class="col-6 offset-3">
    <h3>Edit Campgrounds</h3>
    <form action="/campgrounds/<%=campgrounds._id%>?_method=PUT" method="post" novalidate class="validated-form" 
      enctype="multipart/form-data" >
 
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" placeholder="title" name="Campground[title] " id="title" value="<%= campgrounds.title %>" required>
   
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" placeholder="Location" name="Campground[Location] " id="location" value="<%= campgrounds.location %>" required> 
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" placeholder="description" name="Campground[description] " id="description" value="<%= campgrounds.description%>"required>
    
    <label for="Price" class="form-label">Price</label>
    <input type="text" class="form-control" placeholder="Price" name="Campground[price] " id="Price" value="<%= campgrounds.price%>" required>
<!--    
    <label for="image" class="form-label">Image </label>
    <input type="file" id="image" name="image" multiple> -->
    <button type="submit" class="btn btn-primary mt-5">Edit</button>
    </form>
</div>
</div>


