    <% layout('/layouts/Boilerplate') %> 
    <div id="map" style="width: 100%; height: 400px;"></div>
    <script>
      const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
      const campgrounds = {features:<%-JSON.stringify( campgrounds) %>};
  </script>
    <h1>All Campgrounds</h1>
    
    
        <% for (let campground of campgrounds){%>
       <div class="card align  mb-4 "  >
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid"  src="<%=campground.image  %> " >
          </div>
         <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=campground.title %></h5>
                <p class="card-text"><%=campground.description %></p>
                <p class="card-text"><%=campground.price %></p>
                <a href="campgrounds/<%=campground.id  %> " class="btn btn-primary">Details</a>
            </div>
         </div>
        </div>
       </div>
        <% }%>
    
        <script src="/clustermap.js"></script>
  
     
